@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.selectCheckBox{
	width: 30%;
    margin: 0 auto;
    color: white;
}
body{
	background: url(/images/bg.svg);
    background-color: #20003a;
	 
}
.logo{
	width: 150px;
    height: 110px;
    margin: -37px;
    margin-left: 10px;
}
.headingCenter{
	text-align: center;
}
.form{
	
}
.checkBox{
	    margin: 10px;
}

.prev btn-desing{
	    display: block;
}
.hide{
	display: none;
}
.score{
	display: block;
    text-align: center;
    margin: 100px;
    font-size: 63px;
    color: #f70067;
}
.result{
	
}
.heart{
	position: fixed;
	top: -5vh;
	color: green;
	transform: tanslateY(0);
	animation: fall 3s linear;
}
@keyframes fall{
	to{
		transform: translateY(105vh);
	}
}
