*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    font-family: 'Baloo Bhai 2', cursive;
    background: url(/images/bg.svg);
    background-color: #20003a;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    /* color: #555; */
}
p{
   /* color: #555; */
}
/* container class not bootstraps . its own creation */
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col2{
    flex-basis: 50%;
    min-width: 300px;
}
.col2 img{
    max-width: 1300px;
    padding:50px 0 ;
    /* align-self: right; */
}
.col2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #4643fd;
    /* background: #ff523b; */
    /* color: #fff; */
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    background: #090249;
}
/* for header class the real bg */
.header{
    background: radial-gradient(rgb(228, 201, 250), #9dc1f0);
}
.header .row{
    margin: 70px;
}
/* The great catagories come here */
.catagories{
    margin: 70px 0;
}
.col3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #484bfa;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col4:hover{
    transform: translateY(-5px);
}
/* offfer */
.offer{
    background: radial-gradient(rgb(228, 201, 250), #9dc1f0);
    margin-top: 80px;
    padding: 30px 0;
}
.col2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}
/* ----- testimonial----- */
.testimonial{
    padding-top: 100px;
}
.testimonial .col3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.testimonial .col3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col3:hover{
    transform: translateY(-10px);
}
.fa .fa-quote-left{
    font-size: 34px;
    color: #331ef3;
}
.col3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/* ---brands--- */
.brands{
    margin: 100px auto;
}
.col5{
    width: 160px;
}
.col5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col5 img:hover{
    filter: grayscale(0);
}
/* --- Footer --- */
.footer{
   background: #000;
   color: #8a8a8a;
   font-size: 14px;
   padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
}

/* --- For products Page --- */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #3409f1;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0px auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid blue;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: blue;
    color: #fff;
}

/* Media query for menu */
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/* Media query for less than 600 screen size */
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col2, .col3, .col4{
        flex-basis: 100%;
    }
}
/* for service page */
.headerL{
    background: radial-gradient(rgb(179, 250, 98), #60d12b);
}
.header1{
    background: radial-gradient(rgb(118, 245, 125), #2de94c);
}
.header2{
    background: radial-gradient(rgb(135, 160, 241), #c272f0);
}
.header2 .row{
    margin: 70px;
}

.logo{
	width: 150px;
    height: 120px;
    margin: -12px;
    margin-left: 10px;
}